.container{
    margin: 0 auto;
    max-width:600px;
    display: block;
    padding: 10px;
    font-family: Quicksand, sans-serif;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    box-shadow: 7px 7px 7px #8884b9;
    padding: 16px;
 
}
    
.App footer{
    margin: 10px 0;
    font-size: 11px;
    padding-left: 12px;
    text-align: center;
}