
.btn-primary{
    line-height: 30px;
}
.Weather h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 20px 0 0;
    color:black;
    
}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .temperature{
font-weight: bold;
color: black;
font-size: 64px;
line-height:64px;
font-weight: 400;

}
.Weather .unit{
color: black;
font-size: 16px;
font-weight: 400;
position: relative;
line-height: 1;
top: -34px;
margin-left: 5px;


}
.WeatherUnit a{
    text-decoration: none;
    color: #0B5ED7;
}

.Weather .float-left {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
  }

  .col-6 {
      display: block;
  }